<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:remove="all">Email Template</title>
</head>
<body>
<div>
    <h3>Hello, <span th:text="${employeeName}"></span></h3>
    <p th:text="'Please Verify your email: ' + ${employeeEmail}"/>
    <a th:href="@{http://localhost:8787/api-gateway/employees/verify-email/${uuid}}" th:text="'/api-gateway/employees/verify-email/' + ${uuid}"></a>
</div>
</body>
</html>